{% extends "base.html" %}
{% load data_communication_tags %}
{% load info_tags %}

{% block content %}
    <h3>{{ room }}</h3>
    <p>
        Functie: {{ room.get_type_display }}
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Meting</th>
                <th>Waarde</th>
                <th>Laatste update</th>
            </tr>
        </thead>
        {% for meas in room.measurement_set.all %}
            <tr>
               <td>
                    {{ meas.get_type_display }}
               </td>
                <td>
                    {{ meas }}
                </td>
                <td>
                    {{ meas.dt_last_update }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h4>Waarschuwingen</h4>
    {% if not room.messages.exists %}
        Er zijn nog geen problemen gedetecteerd voor deze ruimte.
        Zodra we wat een probleem detecteren laten we het weten.
    {% else %}
        {% if room.messages.filter_active %}
            <div>
                Active meldingen
            </div>
            {% render_messages_by_type room.messages.all %}
        {% endif %}
        {% if room.messages.filter_inactive %}
            <div>
                Oude meldingen
            </div>
            {% render_messages_by_type room.messages.all %}
        {% endif %}
    {% endif %}

{% endblock %}