{% load data_communication_tags %}


<h3>{{ room.name }}
{% if room.measurement_set.exists %}
    <span class="text-muted small">
        {% for measurement in room.measurement_set.all %}
            <span class="{{ measurement|get_measurement_danger_class }}">{{ measurement }}</span>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </span>
{% endif %}

</h3>
<a href="{% url "room_history" room_id=room.id %}">
    <i class="fas fa-history"></i> View history
</a>

<div>
{% for message in climate_messages %}
    <div class="col-12 col-md-6">
        {% render_message message dismissable=True %}
    </div>
{% empty %}
    There are no new warnings
{% endfor %}

</div>