{% extends "base.html" %}
{% load data_communication_tags %}
{% load info_tags %}

{% block content %}
    <h3>{{ room }}</h3>
    <p>
        Function: {{ room.get_type_display }}
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Measurement</th>
                <th>Value</th>
                <th>Latest update</th>
            </tr>
        </thead>
        {% for meas in room.measurement_set.all %}
            <tr>
               <td>
                    {{ meas.get_type_display }}
               </td>
                <td>
                    {{ meas }}
                </td>
                <td>
                    {{ meas.dt_last_update }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <h4>Warnings</h4>
    {% if not room.messages.exists %}
        There have been no alerts detected in this space. As soon as one is detected, it will be stated here.
    {% else %}
        {% if room.messages.filter_active %}
            <div>
                Active alerts
            </div>
            {% render_messages_by_type room.messages.all %}
        {% endif %}
        {% if room.messages.filter_inactive %}
            <div>
                Old alerts
            </div>
            {% render_messages_by_type room.messages.all %}
        {% endif %}
    {% endif %}

{% endblock %}