{% load data_communication_tags %}


    <div class="card mb-4 border-danger">
        <div class="card-body">
            <h5 class="card-title">Waarschuwing: {{ message.code|communicate_title }}</h5>
            {% if is_active %}

            {% endif %}
            {% if message.is_still_active %}
                <h6 class="card-subtitle text-danger">
                    Actief sinds {{ message.dt_start }}
                </h6>
            {% else %}
                <h6 class="card-subtitle text-muted">
                    Gedetecteerd van {{ message.dt_start }} tot {{ message.dt_last_update }}
                </h6>
            {% endif %}
            <p class="card-text mt-3">
                {{ message.code|communicate_short_text }}
            </p>
            <div class="d-flex">
                <a href="{% url 'info' id=message.id %}" class="btn btn-primary">More information</a>

                {% if is_dismissible %}
                    <form method="post" action="{% url "dismiss" id=message.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary">
                            Dismiss
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>